.Chosen-Container{
    /* justify-content: center;
    text-align: center;
    flex: 1;
    overflow: auto; */

    margin: 0 auto;
    justify-content: center;
    overflow: visible;
    padding-bottom: 100px;
    align-items: center;
    justify-content: center;
    display: inline;
}
#imgContainer{
    margin: 0 auto;
    text-align: center;
    
}