
.Map-Screen{
    flex: 1;
    justify-content: center;
    align-items: center;
    overflow: auto;
    width: 100vw;
}

.Map-Content{
    height: auto;
    margin: 0 auto;
    text-align: center;

}

.Map-ButtonClass{
    margin-top: 47vh;
    justify-content: center;
    flex:1;
    width: 100vw;



}
#loc{

}