.loadingImage{
    width: 50px;
    height:50px;
    animation: App-logo-spin infinite 5s linear;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
.resultContainer{
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    overflow: visible;
    height: auto;
    padding-bottom: 100px;
    margin-bottom: 50px;
}
