.buttonClass {
    border: none; 
    border-radius: 3em;
    background-color: #003A21;
    position: relative;
    color: #75AF96; 
    width: 80vw;
    display: block;
    margin: 0 auto;
    margin-top: 2%;
}
.buttonClass:hover {

    background-color: rgb(35, 56, 47);

}

#pictureUpload{
    border: none; 
    border-radius: 3em;
    background-color: #003A21;
    position: relative;
    color: #75AF96; 
    width: 80vw;
    display: block;
    margin: 0 auto;
    margin-top: 2%;
}

#video {
    position: relative;
    margin: 0 auto;
    display: block;    
    margin-top: 2%;
}

@media only screen and (min-width: 800px) {
    .buttonClass{
        width:50vw;
        font-size: 16px;
    }
  }