.cameraButtons {
    border: none; 
    border-radius: 3em;
    background-color: #003A21;
    color: #75AF96; 
    width: 20%;
    height: 50px;
    margin: 0 auto;
    margin-top: 2%;
}

#video {
    width: 20%;
    height: 50px;
    display: block;
    margin: 0 auto;
    margin-top: 2%;
}