.ButtonsToFooter{
   width: 100vw;
   display: flex;
   flex-flow: row;

}
  .footerButton{
   float: left;
   color:  #75AF96;
   background-color: #003a21;
   border:none;
   flex: 1;
   height: 9vh;
  }

  .buttonImages{
   max-width: 70%;
   max-height: 70%;
  }